# SQL Server in Docker on Mac
# Run this command once to start SQL Server in Docker:
#
#   docker run -e "ACCEPT_EULA=Y" -e "SA_PASSWORD=YourStrong@Passw0rd" \
#              -p 1433:1433 --name sqlserver -d \
#              mcr.microsoft.com/mssql/server:2022-latest
#
# To start it again after a reboot:
#   docker start sqlserver
#
# SA password requirements: min 8 chars, uppercase + lowercase + number + symbol

DB_SERVER=localhost
DB_DATABASE=UniEnroll
DB_USER=sa
DB_PASSWORD=YourStrong@Passw0rd
DB_PORT=1433

PORT=3000
